<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" />
  </configSections>
  <!--<connectionStrings>
    <add name="ApiKeyDB" connectionString="Data Source=10.110.20.5;Initial Catalog=ApiKeyDB;Persist Security Info=True;user id=ApiKeyDB; password=1q2w3e$R" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <log4net>
    <root>
      <!--level value="DEBUG"/>-->
      <!--<level value="INFO"/>-->
      <!--<level value="WARNING"/>-->
      <!--level value="ERROR"/>-->
      <!--<level value="FATAL"/>-->
      <appender-ref ref="ADONetAppender" />
    </root>
    <appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="Data Source=172.20.19.40;Initial Catalog=GovServiceList_TMP1;Persist Security Info=True;user id=DWH; password=DWH" />
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception],[ControllerName],[MachineName]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception, @ControllerName, @MachineName)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
      <parameter>
        <parameterName value="@ControllerName" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{ControllerName}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@MachineName" />
        <dbType value="String" />
        <size value="200" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{MachineName}" />
        </layout>
      </parameter>
    </appender>
  </log4net>
  <dataConfiguration defaultDatabase="GovServiceList" />
  <connectionStrings>
    <add name="GovServiceList" connectionString="Data Source=172.20.19.40;Initial Catalog=GovServiceList_TMP;Persist Security Info=True;user id=DWH; password=DWH" providerName="System.Data.SqlClient" />
    <!--
    <add name="PhotoStationsList" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=MobileMetaData;Data Source=10.110.110.86" providerName="System.Data.SqlClient"/>
    <add name="FormsMobileList" connectionString="Data Source=10.110.110.86;Initial Catalog=FormsMobile;Persist Security Info=True;User ID=formsMobile;Password=FormsMobile123" providerName="System.Data.SqlClient"/>
    <add name="VeterinaryList" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=ppis;Data Source=10.110.110.86" providerName="System.Data.SqlClient"/>
    <add name="ApiKeyDB" connectionString="Data Source=10.110.20.5;Initial Catalog=ApiKeyDB;Persist Security Info=True;user id=ApiKeyDB; password=1q2w3e$R" providerName="System.Data.SqlClient"/>
    -->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Application settings-->
    <!-- C:\TFS\Tehila-Dev\GovServiceListInfra\Dev\GovServiceList_Infra\GovServicesList\bin -->
    <add key="ServiceConfigFile" value="C:\MyWork\MAIN APPLICATIONS\GovServicesList\SDK-20170911\GovServicesList\bin" />
    <add key="Health.BroadCast.userBaseData.AppID" value="18" />
    <add key="Health.BroadCast.userBaseData.CustId" value="4" />
    <add key="Health.BroadCast.EndpointAddress" value="http://192.168.200.7/BroadCastTehila/BroadCastView.svc" />
    <add key="Health.SrvAccessibleGov.EndpointAddress" value="http://192.168.200.7/Test_SrvAccessibleGov.svc" />
    <add key="CrossDomainOrigins" value="http://localhost/EsbClientApp" />
    <add key="BlockControllerWithoutSecurity" value="false" />
    <add key="UseApiKeyHandler" value="false" />
    <add key="Filename" value="C:\Logs\GovServicesList.log" />
    <add key="BlockWriteToLog" value="true" />
    <add key="SmtpServerIP" value="10.110.110.7" />
    <add key="LogRequests" value="True" />
    <!--End of Application settings-->
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5">
      <!--
      <assemblies>
        <add assembly="Gov.ESBController.Headers"/>
      </assemblies>
      -->
    </compilation>
    <httpRuntime />
    <!--maxRequestLength="2147483647"-->
    <authentication mode="None" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <!--
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
    -->
    <httpProtocol>
      <customHeaders>
        
        <!--<add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET,PUT,POST,DELETE,OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type,One,Two" />-->
      
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false" />
    <!--
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
     -->
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin;bin\ESB.Headers;" />
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAppValidation" />
        <binding name="BasicHttpBinding_ITokenChecker" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/Gov.Common.Servises.AppValitation/ValidationApplication.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAppValidation" contract="AppValidationProxy.IAppValidation" name="BasicHttpBinding_IAppValidation" />
      <endpoint address="http://localhost/DemoRecaptchaProxyService/TokenChecker.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITokenChecker" contract="RecaptchaProxyServiceReference.ITokenChecker" name="BasicHttpBinding_ITokenChecker" />
    </client>
  </system.serviceModel>
</configuration>
<!--ProjectGuid: BBDAD291-652E-4FC0-A856-F684698F7AD2-->